<div class="container mx-auto p-8">
  <div class="bg-gray-800 p-6 rounded-lg shadow-lg">
    <h1 class="text-2xl font-bold text-gray-100 mb-4">Profile</h1>
    <div *ngIf="user; else loading">
      <p class="text-gray-300"><strong>Username:</strong> {{ user.username }}</p>
      <p class="text-gray-300"><strong>Email:</strong> {{ user.email }}</p>
      <p class="text-gray-300"><strong>Full Name:</strong> {{ user.fullName }}</p>
      <p class="text-gray-300"><strong>City:</strong> {{ user.city }}</p>
      <p class="text-gray-300"><strong>Photo:</strong></p>
      <img [src]="user.photo" alt="User Photo" *ngIf="user.photo" class="w-32 h-32 rounded-full mt-4" />
    </div>
    <ng-template #loading>
      <p class="text-gray-400">Loading user data...</p>
    </ng-template>
  </div>
</div>