<nav class="bg-gray-800 text-gray-100 shadow-md">
  <div class="container mx-auto flex justify-between items-center p-4">
    <a routerLink="/" class="text-2xl font-bold hover:text-gray-400">Bandanize</a>
    <div class="flex space-x-4">
      <ng-container *ngIf="isLoggedIn; else loginLink">
        <a routerLink="/bands" routerLinkActive="font-bold" class="hover:text-gray-400">Bands</a>
        <a routerLink="/profile" routerLinkActive="font-bold" class="hover:text-gray-400">Profile</a>
        <a (click)="logout()" class="hover:text-gray-400 cursor-pointer">Logout</a>
      </ng-container>
      <ng-template #loginLink>
        <a routerLink="/login" routerLinkActive="font-bold" class="hover:text-gray-400">Login</a>
      </ng-template>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>